body{
	font-size: 2.5em;
}


table .tap-num{
	width: 80px;
}
table .srm{
	width: 250px;
}
table .ibu{
	width: 250px;
}

table .abv{
	width: 350px;
}
table .keg{
	width: 250px;
}

span.tapcircle {	
  font-size: 30px;
}

.srm-container{
	height: 200px;
	width: 110px;
}

.ibu-container{
	height:200px;
	width:107px;
}

.abv-container{
	height: 200px;
	width: 220px;
}	

.keg-container{
	height: 200px;
	width: 132px;
}
